html{
    height:100%;
}
#mapid {
    height: 100%;
    width:100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
#sidenav{
    height: 100%;
    width: 350px;
    display:none;
    position: fixed;
    z-index: 1000000001;
    top: 0;
    left: 0;
    background-color: #e0e0e0;
    overflow: visible;
    padding-top:60px;
    transition:0.5s;
    border-right: 1px #555 solid;
}
.results.menu.scrollable{
    overflow-x:visible !important;
}
#results{
    min-width: 150% !important;
    z-index:10000000000000000001;
}
.ui.form{
    overflow-x:visible !important;
}
#closeTab{
    right:0;
    position: absolute;
    top:2%;
    font-size: 1.5em;
    z-index: 1000000002;
    cursor: pointer;
}
#openTab{
    left:0;
    position: absolute;
    top: 40%;
    font-size: 2.5em;
    z-index: 1000000000;
    cursor: pointer;
}
.ui.icon.search{
    width:85% !important;
    z-index:inherit !important;
}
#searchInput{
    width: 85%; !important;
    display:none;
}
.ui.form{
    width:85%;
    min-height:10% !important;
    max-height: 10% !important;
    overflow-y:visible !important;
    overflow-x: visible;
    margin-left:10%;
    margin-top:5%;
}
.ui.category.search{
    width:85% !important;
    overflow-x:visible;
}


